<div class="container">
  <div class="padded">
  </div>
  <div class="media">
    <div class="media-body">


    </div>
    <div class="media-aside">
      <div class="media-section">
        <h1><%= @piano.brand%></h1>
        <h5> Last update : <%= @piano.updated_at %> </h5>
        <h6> address: <%= @piano.address %></h6>
    </div>
  </div>
</div>
